/* Empty. Add your own CSS if you like */
/* Estilo das radioBox Gereno e Faixa etária */

/*.dados-paciente {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dados-paciente:after {
  content: "";
  clear: both;
}

.item-radio {
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
  height: 50px;
  position: relative;
  width: 80px;
}

.item-radio + .item-radio {
  margin-left: 25px;
}

.item-radio label {
  background: #fff no-repeat center center;
  bottom: 1px;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 0px;
  position: absolute;
  right: 0px;
  text-indent: 100%;
  top: 1px;
  white-space: nowrap;
  
}

.masculino label {
  background-image: url("../image/masculino.png");
  background-size:contain;
}

.feminino label {
  background-image: url("../image/feminino.png");
  background-size:contain;
}

.crianca label {
  background-image: url("../image/crianca.png");
  background-size:contain;
}

.adulto label {
  background-image: url("../image/adulto.png");
  background-size:contain;
}

.dados-paciente input:focus + label {
  outline: 2px dotted #21b4d0;
}
.dados-paciente input:checked + label {
  outline: 4px solid #21b4d0;
}

/*centralizar div com raiobutton
html, body {
  height: 100%;
  min-height: 100%;
}
 
body {
  font: 15px arial;
  color: rgba(0, 0, 0, .7);
}
 
.wrapper {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
 
.wrapper div {
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, .3)
}

/*Cnotraindicações 
.item-checkbox-img {
  vertical-align: middle;
  position: absolute;
  top: 0px;
  right: 0px;
  height:100%;
}

h4{
    color:#000000;
    font-weight:400;
    text-align:center;
}

.header .col {
    background-color:lightgrey;
}*/



.footer-fixed{
  position: fixed;
  bottom: 0;
}
.clear-fixed{
    clear: left;

}
.gold {
  color: #FFD700;
}
.plate{
  color: #C0C0C0;

}
.bronze{
  color: #CD853F;
}

.colocacao-padding{
  padding-right: 10%;
}
