﻿<script>

</script>

<ion-view view-title="Estatinas">
  <div class="bar bar-header bar-positive">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <div class="h1 title">Colesterol em dia</div>
  </div>
  <ion-content class="has-header" padding="true">
    <form name="estatinasForm" novalidate>

      <div class="item item-icon-left">
        <i class="icon ion-medkit positive"></i>
        <div class="h5 positive">Estatinas para o tratamento:</div>
      </div>
      <div class="list" ng-repeat="e in estatinas">

        <!--ng-repeat="e in estatinas"-->
        <div class="item">
          <div class="row">
            <div class="col">
              <i ng-class="melhorEstatina($index)"> {{$index + 1+"º"}}</i>
            </div>
            <div class="col col-75">
              <h2>{{e.getPrincipioativo().getNome() }}</h2>
              <h4>{{ e.getPrincipioativo().getDosagem() }}</h4>
              <h5 class="badge badge-assertive" ng-show="e.getContraindicacoes().length > 0">contraindicado</h5>
            </div>
          </div>

        </div>
        <div class="item">
          <div class="row">
            <a href="#" class="h6 subdued col col-33">
               LDL:
               <i class="icon ion-arrow-down-a positive "></i>
               {{ e.getPrincipioativo().getReducaoLdl() | percentPrincipioativo}} 
            </a>
            <a href="#" class="h6 subdued col col-33">
               TG:
               <i class="icon ion-arrow-down-a royal"></i>
              {{ e.getPrincipioativo().getReducaoTriglicerides() 
              | percentPrincipioativo}}
              
            </a>
            <a href="#" class="h6 subdued col col-33">
              HDL:
              <i class="icon ion-arrow-up-a calm"></i>
              {{ e.getPrincipioativo().getReducaoTriglicerides() |
              percentPrincipioativo}} 
               
            </a>
          </div>
        </div>
      </div>
      </div>
      </div>

    </form>
     <div class="item"></div>
  </ion-content>
  <div class="bar bar-footer footer-fixed">
    <div class="button-bar bar-positive">
      <a class="button icon-left ion-stats-bars" href="#/resultado">Resultados</a>
      <a class="button icon-left ion-android-refresh" href="#/index">Refazer consulta</a>

    </div>
  </div>
</ion-view>