<!--Tela de resultado do Colesterol em dia-->

<ion-view view-title="Resultado">
  <div class="bar bar-header bar-positive">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <div class="h1 title">Colesterol em dia</div>
  </div>
  <ion-content class="has-header" padding="true">
    <form name="colesterolForm" novalidate>
      <div class="card">
        <div class="item item-icon-left">
          <i class="icon ion-stats-bars positive"></i>
          <h2 class="positive">Resultado (mg/dl)</h2>
        </div>

        <div class="item ">
          <div class="row" >
            <a  class="h6 subdued col col-33">
                                  LDL-C:
                                </a>
            <a  class="h6 subdued col col-33">
                                  TG:
                                </a>
            <a href="#" class="h6 subdued col col-33">
                                  HDL:
                                </a>
          </div>
          <div class="row">
            <a  class="h6 subdued col col-33">
              <i class="icon ion-heart positive "></i> {{ resultado.getDadosPaciente().getLdl() }}
            </a>
            <a class="h6 subdued col col-33">
              <i class="icon ion-heart royal"></i> {{ resultado.getDadosPaciente().getTriglicerides() }}
            </a>
            <a  class="h6 subdued col col-33">
              <i class="icon ion-heart calm"></i> {{ resultado.getDadosPaciente().getHdl()}}
            </a>
          </div>

          <div class="row">
            <a  class="h6 subdued col col-33">
              <i class="icon ion-arrow-down-a positive "></i> {{ resultado.getDadosPaciente().getPercentualReducaoLdl() |
              percentResultado}}
            </a>
            <a  class="h6 subdued col col-33">
              <i class="icon ion-arrow-down-a royal"></i> {{ resultado.getDadosPaciente().getPercentualReducaoTg() | percentResultado}}
            </a>
            <a  class="h6 subdued col col-33">
              <i class="icon ion-arrow-up-a calm"></i> {{ resultado.getDadosPaciente().getPercentualAumentoHdl()| percentResultado}}
            </a>
          </div>
          <div class="row">
            <a  class="h6 subdued col col-33 " ng-class="melhorNivel(resultado.getNivelLdl())">
                              {{ resultado.getNivelLdl() | nivel}}
                            </a>
            <a  class="h6 subdued col col-33" ng-class="melhorNivel(resultado.getNivelTriglicerides());">
                              {{ resultado.getNivelTriglicerides() | nivel}}
                            </a>
            <a  class="h6 subdued col col-33" ng-class="melhorNivel(resultado.getNivelHdl());">
                              {{ resultado.getNivelHdl() | nivel}}
                            </a>
          </div>
        </div>
        <div class="item item-text-wrap">
          <p>{{resultado.getInformacoesComplementaresLDL()}}</p>
        </div>
      </div>

      <div class="bar bar-footer">
        <div class="button-bar bar-positive">
          <a class="button icon-left ion-medkit" ng-click="mostrarEstatinas()">Ver estatinas</a>
          <a class="button icon-left ion-android-refresh" href="#/index">Refazer consulta</a>
        </div>
      </div>




    </form>
  </ion-content>
</ion-view>