﻿  <ion-modal-view>
    <ion-header-bar class="bar-positive">
      <h1 class="title">Sugestões</h1>
	 
    </ion-header-bar>

    <ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				Diga-nos o que achou do nosso aplicativo!
				Suas sugestões ou críticas nos ajudarão a melhorar o Fármaco!
			</div>
		</div>
		
		<label class="item item-input item-floating-label">
			<span class="input-label">Mensagem</span>
			<input type="text" placeholder="Digite aqui!">
		</label>
		
		<button class="button button-block button-positive ion-paper-airplane" >
              Enviar
		</button>
		
    </ion-content>
  </ion-modal-view>