<!--Tela principal do Colestero lem dia-->

<ion-view on-drag="initWatchers()" view-title="Colesterol em Dia">
    <div class="bar bar-header bar-positive">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <div class="h1 title">Colesterol em dia</div>
    </div>
    <ion-content class="has-header" padding="true">

        <form name="colesterolForm" ng-submit="calcularColesterol()" novalidate>
            <!--Cards - sexo do paciente-->
            <div class="list">
                    
                <div class="item item-icon-left">
                    <i class="icon ion-android-people positive"></i>
                    <h2>Sexo do paciente:</h2>
                </div>
                
                <div class="item item-body">
                    <p>
                        <ion-radio ng-model="choose.selected" name="sexo" ng-value="choose.feminino">
                            <i class="h1 icon ion-woman"></i> Feminino
                        </ion-radio>
                        <ion-radio ng-model="choose.selected" name="sexo" ng-value="choose.masculino">
                            <i class="h1 icon ion-man"></i> Masculino
                        </ion-radio>
                       
                    </p>
                </div>
            </div>

            <!--Cards - sexo do paciente-->
            <div class="list">

                <div class="item item-icon-left ">
                    <i class="h2 icon ion-person-stalker positive"></i>
                    <h2>Faixa etária do paciente:</h2>
                </div>

                <div class="item item-body">
                    <p>
                        <ion-radio ng-model="faixaEtaria.selected" name="faixaEtaria" ng-value="faixaEtaria.maiorDe20anos">
                            <i class="h1 icon ion-man"></i> Acima de 20 anos
                        </ion-radio>
                        <ion-radio ng-model="faixaEtaria.selected" name="faixaEtaria" ng-value="faixaEtaria.menorDe20anos">
                            <i class="h3 icon ion-man"></i> Entre 2 e 20 anos
                        </ion-radio>
                    </p>
                </div>
            </div>



            <!--Cards - dados do colesterol do paciente-->
            <div class="list">

                <div class="item item-icon-left">
                    <i class="icon ion-heart positive"></i>
                    <h2>Dados do colesterol:</h2>
                </div>

                <div class="item item-body">
                    <p>
                        <ion-list>
                            <label class="item item-input item-stacked-label">
                                  <span class="input-label">CT:</span>
                                  <input name="ct" type="number" placeholder="Colesterol total do paciente." ng-model="ct.value" required>
                                </label>
                            <label class="item item-input item-stacked-label">
                                  <span class="input-label">TG:</span>
                                  <input name="tg" type="number"  placeholder="Triglicerídeo do paciente." ng-model="tg.value" required>
                                </label>
                            <label class="item item-input item-stacked-label">
                                   <span class="input-label">HDL-C:</span>
                                  <input name="hdl" type="number" placeholder="HDL do paciente." ng-model="hdl.value" required></input>
                                </label>
                        </ion-list>
                    </p>
                </div>
            </div>

            <!--Cards - informações acerca do paciente-->
            <div class="list ">

                <div class="item item-icon-left">
                    <i class="icon ion-chatbubble-working positive"></i>
                    <h2>Informações do paciente:</h2>
                </div>

                <div class="item item-body">
                    <p>
                        <ion-list>
                            <ion-checkbox ng-repeat="c in contraindicacoes" ng-model="c.selected">
                                {{c.item.getNome()}}
                            </ion-checkbox>
                        </ion-list>
                    </p>
                </div>
            </div>

            <!--Mostra os erros da aplicação-->
            <div class="list card bar-stable" ng-show="validar.length > 0">

                <div class="item item-icon-left">
                    <i class="icon ion-sad assertive"></i>
                    <h2 class="assertive">Ooops, temos problemas...</h2>
                </div>

                <div class="item item-body">
                    <p>
                        <div class="h6" ng-repeat="v in validar">
                            {{v.message}}
                        </div>
                    </p>
                </div>
            </div>


            <div id="botao-calcular" class="list">
                <input id="botao_calcular" type="submit" style="font-size:20px;border-radius:50px 50px 50px 50px;" class="button button-positive  button-block"
                    value="Consultar" />
            </div>

        </form>

    </ion-content>

</ion-view>